*{
  /*border: 1px solid red;*/
  margin: 0;
  font-family: 'Lato', sans-serif;
}
a{
  color: #000;
}
a:hover{
  color: red;
}
footer h6{
  text-align: center;
}
img{
  max-width: 100%;
  max-height: 100%;
}
a{
  text-decoration: none;
}
article footer{
  border-top: 2px solid lightgrey;
  margin: 12px;
}
.nav-header-bar{
  display: inline-block;
  float: right;
  margin-top: 35px;
  margin-right: 30px;
}
.nav-header-bar li{
  display: inline-block;
}
.nav-header-bar li:after{
  content: "|";
  display: inline-block;
  margin:0 10px;
}
.nav-header-bar li:last-child:after{
  display: none;
}
.logo{
  display: inline-block;
  width: 200px;
  height: auto;
  margin-left: 30px;
}
.header{
  border-bottom: 2px solid lightgrey;
}
.main-container{
  margin-top: 1em;
  width: auto;
  max-width:1170px;
  height: auto;
  margin: auto;
}
.profile-image{
  width: 170px;
  height: 170px;
  background-position: center center ;
  border-radius: 85px;
  margin: 5px;
}
.team-profile-image{
  width: 170px;
  height: 170px;
  background-position: center center ;
  border-radius: 85px;
  margin: 5px;
}
.speaker-article{
  display: inline-block;
  width: 300px;
  height: auto;
  margin: 35px;
}
.speakers-line{
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.text-center{
  text-align: center;
}
.speaker-article h5{
  text-align: center;
}
.speaker-article div{
  margin: auto;
}
.sponsors-line{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.sponsor-image{
  margin: auto;
}
.team-article{
  display: inline-block !important;
  width: 300px;
  height: auto;
  margin: 30px;
}
.team-article div{
  margin: auto;
}
.team-article footer{
  margin: 30px;
}
.team-profile-figure{
  display: flex;
  justify-content: center;
}
#team{
  margin-top: 1em;
  width: auto;
  max-width: 1467px;
  height: auto;
  margin: auto;
}
#profile-1{
  background-image: url(../images/cat-example-1-min.jpeg);
  background-size: 257px;
}
#profile-2{
  background-image: url(../images/dog-example-1-min.jpeg);
  background-size: 238px;
}
#profile-3{
  background-image: url(../images/monkey-example-1-min.jpeg);
  background-size: 170px;
}
#profile-4{
  background-image: url(../images/potato-example-1-min.jpeg);
  background-size: 269px;
}
#profile-5{
  background-image: url(../images/cat-example-2-min.jpeg);
  background-size: 252px;
}
#profile-6{
  background-image: url(../images/giraffe-example-1-min.jpeg);
  background-size: 348px;
}
#profile-7{
  background-image: url(../images/cat-example-3-min.jpeg);
  background-size: 159px;
}
#profile-8{
  background-image: url(../images/cat-example-4-min.jpeg);
  background-size: 252px;
}
#profile-9{
  background-image: url(../images/sheep-example-1-min.jpeg);
  background-size: 260px;
}
#team-profile-1{
  background-image: url(../images/team/girl-1.jpeg);
  background-size: 260px;
}
#team-profile-2{
  background-image: url(../images/team/girl-2.jpeg);
  background-size: 260px;
}
#team-profile-3{
  background-image: url(../images/team/guy-1.jpeg);
  background-size: 260px;
}
#team-profile-4{
  background-image: url(../images/team/girl-3.jpeg);
  background-size: 260px;
}
#team-profile-5{
  background-image: url(../images/team/girl-4.jpeg);
  background-size: 164px;
}
#team-profile-6{
  background-image: url(../images/team/guy-2.jpeg);
  background-size: 260px;
}#team-profile-7{
  background-image: url(../images/team/girl-5.jpeg);
  background-size: 260px;
}#team-profile-8{
  background-image: url(../images/team/guy-3.jpeg);
  background-size: 260px;
}

@media screen and (max-width: 1170px){
  section p {
    font-size: 0.8em;
  }
  h5{
    font-size: 25px;
  }
  h6{
    font-size: 20px;
  }
  article footer{
    /*border-top: unset;*/
    margin-left: 100px;
    margin-right: 100px;
  }
  .header{
    display: inline-block;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
  }
  .team-article{
    max-width: 300px;
    width: auto;
  }
  .speakers-line{
    display: unset;
    justify-content: unset;
  }
  .speaker-article{
    display: unset;
  }
  .profile-image{
    width: 320px;
    height: 320px;
    border-radius: 170px;
  }
  .nav-header-bar{
    font-size: 24px;
  }
  #presentation{
    margin-top: 60px;
  }
  #presentation h1{
    text-align: center;
  }
  #profile-1{
    background-size: 470px;
  }
  #profile-2{
    background-size: 470px;
  }
  #profile-3{
    background-size: 306px;
  }
  #profile-4{
    background-size: 470px;
  }
  #profile-5{
    background-size: 470px;
  }
  #profile-6{
    background-size: 617px;
  }
  #profile-7{
    background-size: 350px;
  }
  #profile-8{
    background-size: 470px;
  }
  #profile-9{
    background-size: 470px;
  }

}



/*External CSS*/
/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.2.1
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */
/* 2D TRANSITIONS */
/* Grow */

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 2px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

/* Border Fade */
.hvr-border-fade {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px #2098D1, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}
/*End external css*/
